.nav-container {
  width: max-content;
  height: 100vh;
  background-color: $dark;
  padding: 3rem;
  text-align: left;
  .name-link {  
    text-transform: uppercase;
    cursor: pointer;
    color: $light;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .hamburger {
    margin-left: 2.5rem;
    color: white;
    font-size: 1.25rem;
    transition: .3s;

    &.open {
      transform: rotate(45deg);
    }
  }
  .link-container {
    margin: 1rem 0;
    margin-left: 2.5rem;
    &__link {
      cursor: pointer;
      color: $light;
      margin-bottom: .5rem;
    }
    &__sub-link {
      cursor: pointer;
      padding-left: 1rem;
      color: $light;
    }
    &__link, &__sub-link {
      transition: .3s;
      cursor: pointer;
      i {
        transition: .3s;
        font-size: 1rem;
      }
      &:hover {
        opacity: .5;
        i {
          transform: rotate(45deg);
        }
      }
    }
  }
}