.project-container {
  width: 100%;
  height: 100%;
  padding: 4rem 6rem;

  .photo__title {
    color: $accent;
    margin: 0 auto 2rem auto;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
  }

  &__photo {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: 20rem;

    .image-container {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: .6s;

      &:hover {
        // background-color: $dark-offset;
      }
    }
    
    &-modal {
      &-container {
        height: 90vh;
        width: 80vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: .5rem;
        z-index: 5;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .actions {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          color: white;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          i {
            margin: 0 .5rem; 
            font-size: 1.5rem;
            cursor: pointer;
            transition: .3s;

            &:hover {
              color: $accent;
            }
          }
        }
      }
      height: 100%;
      z-index: 15;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-overlay {
      height: 100vh;
      width: 100vw;
      background-color: $dark-offset;
      position: fixed;
      top: 0;
      left: 0;
      opacity: .85;
    }

  }

  &-design-container {
    .design__title {
      color: $accent;
      margin: 0 auto 2rem auto;
      letter-spacing: .5rem;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5rem;
    }

    .links-container {
      margin: 0 auto;
      width: 60%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      padding-bottom: 2rem;
      grid-row-gap: 1rem;
      border-bottom: 1px solid white;

      &__link {
        color: white;
        font-size: 1.5em;
        transition: .3s;

        i {
          transition: .3s;
        }

        &.active {
          color: $accent;
        }

        &:hover {
          opacity: .5;
          cursor: pointer;

          i {
            transform: rotate(45deg);
          }
        }
      }

    } 
  }

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}