.project-container {
  width: 100%;
  height: 100%;
  padding: 4rem 6rem;
  &__photo {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: 20rem;

    .image-container {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}